{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs([
        {
            label: 'Logs',
            url: url('dummy_client.log.index')
        }
    ]) }}
{% endblock %}

{% block page %}

    <h3 class="text-center">
        Environment
        <small>{{ env() }}</small>
    </h3>
    
    {% if files|length == 0 %}
        {{ alert('No results', 'info') }}
    {% else %}
        <ul>
            {% for file in files %}
                <li>
                    <a href="{{ url('dummy_client.log.read', { filename: file }) }}">
                        {{ file }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}