{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs([
        {
            label: 'Logs',
            url: url('dummy_client.log.index')
        }
    ]) }}
{% endblock %}

{% block page %}
    
    <h4>Prod logs</h4>
    {% if prodFiles|length == 0 %}
        {{ alert('No results', 'info') }}
    {% else %}
        <ul>
            {% for file in prodFiles %}
                <li>
                    <a href="{{ url('dummy_client.log.read', { filename: file }) }}">
                        {{ file }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <h4>Dev logs</h4>
    {% if devFiles|length == 0 %}
        {{ alert('No results', 'info') }}
    {% else %}
        <ul>
            {% for file in devFiles %}
                <li>
                    <a href="{{ url('dummy_client.log.read', { filename: file }) }}">
                        {{ file }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}