<br />

<div class="container">
    <div class="col-md-12">
        {% for call in calls %}
            <h5>Call #{{ loop.index }} - {{ call.time }} seconds</h5>
            <div class="well" style="overflow-x: auto">
                <pre>{{ call.method|upper }} {{ call.url }}</pre>
                <p>
                    <strong>Params:</strong>
                    <br />
                    <small>{{ call.params|json_encode() }}</small>
                </p>
                <p>
                    <strong>Status code:</strong>
                    {{ call.status_code }}
                </p>
                <p>
                    <strong>Content:</strong>
                    <br />
                    <small>{{ call.content }}</small>
                </p>
            </div>
            <hr />
        {% endfor %}
    </div>
</div>