{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs([
        {
            label: 'Repositories',
            url: url('dummy_client.repository.index')
        },
        {
            label: repository.getSingularLabel
        },
        {
            label: 'Doc'
        }
    ]) }}
{% endblock %}

{% block page %}
    
    {% include 'repository/tab.html.twig' with {
        repository: repository,
        active: 'doc'
    } %}
    
    <div>
        <h3>List of elements</h3>
        <pre>GET repository/{{ repository.getId }}/entity</pre>
        <div class="table-responsive">
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Description</th>
                        <th>Format</th>
                        <th>Example</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>limit</td>
                        <td>Limits the number of results in a request</td>
                        <td>integer</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>page</td>
                        <td>Fetches a specific page</td>
                        <td>integer</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>query</td>
                        <td>Fetches results depending by the searchable fields</td>
                        <td>string</td>
                        <td>Matt Smith</td>
                    </tr>
                    <tr>
                        <td>orders</td>
                        <td>
                            Orders the results
                        </td>
                        <td>
                            {% set orders = [] %}
                            {% for field in repositoryFields %}
                                {% if field.getSearchable %}
                                    {% set orders = orders|merge([field.getName]) %}
                                {% endif %}
                            {% endfor %}
                            {{ orders|join('|') }}
                        </td>
                        <td><pre>array(2) {
  [0]=> array(2) {
    ["field"] => string(10) "first_name" 
    ["direction"] => string(3) "asc"
  }
  [1]=> array(2) {
    ["field"] => string(9) "last_name"
    ["direction"] => string(3) "asc"
  }
}</pre></td>
                    </tr>
                    <tr>
                        <td>filters</td>
                        <td>
                            Filters the results
                        </td>
                        <td>
                            {% set filters = [] %}
                            {% for field in repositoryFields %}
                                {% if field.getType == 'foreign' %}
                                    {% set filters = filters|merge([field.getName]) %}
                                {% endif %}
                            {% endfor %}
                            {{ filters|join('|') }}
                        </td>
                        <td><pre>array(2) {
  [0] => array(2) {
    ["field"] => string(8) "category"
    ["value"] => int(4) 7
  }
  [1] => array(2) {
    ["field"] => string(5) "author"
    ["value"] => int(4) 6
  }
}</pre></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4>Response</h4>
        <pre>array(2) {
  ["paginator"] => array(2) {
    ["page"] => array(2) {
      ["current"]=> int(1)
      ["total"] => int(1)
    }
    ["results"] => int(2)
  }
  ["results"] => array(2) {
    [0] => array(2) {
      ["id"] => int(1)
      ["..."] => string(3) "..."
    }
    [1] => array(2) {
      ["id"] => int(2)
      ["..."] => string(3) "..."
    }
  }
}</pre>
    </div>

    <div>
        <h3>A single element</h3>
        <pre>GET repository/{{ repository.getId }}/entity/{id}</pre>
        <h4>Response</h4>
        <pre>array(2) {
  ["id"] => int(1)
  ["..."] => string(3) "..."
}</pre>
    </div>
    
{% endblock %}