{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs([
        {
            label: 'Repositories',
            url: url('dummy_client.repository.index')
        }
    ]) }}
{% endblock %}

{% block addButton %}
    {{ addButton(url('dummy_client.repository.create')) }}
{% endblock %}

{% block page %}
    
    {% if repositories.getPaginator.getTotalResults == 0 %}

        {{ alert('No results yet', 'info') }}

    {% else %}

    {{ paginator(repositories.getPaginator, 'dummy_client.repository.index') }}

    <div class="table-responsive">
        <table class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Label</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for repository in repositories %}
                <tr>
                    <td class="col-md-1 text-center">
                        <a href="{{ url('dummy_client.repository.read', {
                            id: repository.getId
                        }) }}">
                            <span class="glyphicon glyphicon-open"></span>
                        </a>
                    </td>
                    <td>{{ repository.getName }}</td>
                    <td>
                        {{ repository.getSingularLabel }}
                        <small>
                            ({{ repository.getPluralLabel }})
                        </small>
                    </td>
                    <td>{{ repository.getDescription }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endif %}
    
{% endblock %}