{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs([
        {
            label: 'Apps',
            url: url('dummy_client.app.index')
        }
    ]) }}
{% endblock %}

{% block addButton %}
    {{ addButton(url('dummy_client.app.create')) }}
{% endblock %}

{% block page %}
    
    {% if apps.count == 0 %}
        
        {{ alert('No results yet', 'info') }}
        
    {% else %}
        
        {{ paginator(apps.getPaginator, 'dummy_client.app.index') }}

        <div class="table-responsive">
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Base URL</th>
                        <th>Is Admin</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for app in apps %}
                    <tr>
                        <td>{{ app.getId }}</td>
                        <td>{{ app.getName }}</td>
                        <td>{{ app.getTitle }}</td>
                        <td>{{ app.getDescription }}</td>
                        <td>{{ app.getBaseUrl }}</td>
                        <td>
                            {% if app.getIsAdmin == 1 %}
                            <span class="glyphicon glyphicon-check"></span>
                            {% else %}
                            <span class="glyphicon glyphicon-unchecked"></span>
                            {% endif %}
                        </td>
                        <td class="small col-md-2">
                            <a href="{{ url('dummy_client.app.read', {
                                id: app.getId
                            }) }}">
                                <span class="glyphicon glyphicon-book"></span> read
                            </a>
                            {{ editButton(url('dummy_client.app.update', {
                                id: app.getId
                            })) }}
                            {{ deleteButton(url('dummy_client.app.delete', {
                                id: app.getId
                            })) }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    {% endif %}

{% endblock %}