{% for field in repositoryFields if field.getType == 'foreign' %}

    {% set options = field.getOptions %}
    {% set repoName = options.repository %}

    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <strong>{{ field.getLabel }}:</strong>
            {% if filters[field.getName] is defined and filters[field.getName]  %}
                {% for entity in fetch_entities(repoName) %}
                    {% if filters[field.getName] == entity.getId %}
                        {{ entity|printMainLabel }}
                        <? break; ?>
                    {% endif %}
                {% endfor %}
            {% else %}
            All
            {% endif %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{{ url('dummy_client.entity.index', {
                    repositoryId: repository.getId
                }) }}">All</a>
            </li>
            <li class="divider"></li>
            {% for entity in fetch_entities(repoName) %}
                <li>
                    <a href="{{ url('dummy_client.entity.index', {
                        repositoryId: repository.getId,
                        filters: [
                            {
                                field: field.getName,
                                value: entity.getId
                            }
                        ]
                    }) }}">
                        {{ entity|printMainLabel }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}