{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs([
        {
            label: repository.getPluralLabel,
            url: url('dummy_client.entity.index', {
                repositoryId: repository.getId,
                fromSession: 1
            })
        }
    ]) }}
{% endblock %}

{% block addButton %}
    {{ addButton(url('dummy_client.entity.create', {
        repositoryId: repository.getId
    })) }}
{% endblock %}

{% block page %}

    {% set placeholder = [] %}
    {% for field in repositoryFields %}
        {% if field.getSearchable %}
            {% set placeholder = placeholder|merge([field.getLabel]) %}
        {% endif %}
    {% endfor %}
    {% if placeholder|length > 0 %}
        {% set placeholder = 'Search by ' ~ placeholder|join(', ') %}
    
        {{ search(url('dummy_client.entity.index', {
            repositoryId: repository.getId
        }), query, filters, placeholder) }}
        
    {% endif %}
    
    <div class="container text-center">
        {% include 'entity/partials/filters.html.twig' with {
            repositoryFields: repositoryFields,
            filters: filters,
            query: query
        } %}
    </div>

    <br />

    {% if entities.count == 0 %}
    
        {{ alert('No results', 'info') }}

    {% else %}

        <div class="col-md-12">
            {{ paginator(entities.getPaginator, 'dummy_client.entity.index', {
                repositoryId: repository.getId,
                filters: filters,
                query: query is defined ? query : null
            }) }}
        </div>

        <div class="table-responsive">
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        {% for field in repositoryFields %}
                            {% if field.getList %}
                                <th>
                                    {{ field.getLabel }}
                                    {% if field.getSortable %}
                                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                    {% endif %}
                                </th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td class="col-md-1 text-center">
                                <a href="{{ url('dummy_client.entity.read', {
                                    repositoryId: repository.getId,
                                    id: entity.getId
                                }) }}">
                                    <span class="glyphicon glyphicon-open"></span>
                                </a>
                            </td>
                            {% for field in repositoryFields %}
                                {% if field.getList %}
                                <td>
                                    {{ entity|render({'field':field}) }}
                                </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}
    
{% endblock %}
